<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Hostname" value="localhost"/>
    <add key="ServicePort" value="35124"/>
    <add key="Token" value="xxxxxxxxxxxx"/>
  </appSettings>
  
</configuration>