<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Token" value="adaf6d47-fe25-4c4c-914f-5f1c1663679d"/>
    <add key="Hostname" value="localhost"/>
    <add key="ServicePort" value="35124"/>  
  </appSettings>
  
</configuration>